.main {
    display: flex;
    flex-direction: column;
    gap: 36px;
    overflow-y: auto;
    box-sizing: border-box;
    align-items: center;
    background-color: #F0F2F5;
    min-height: 100vh;
    height: 100%;
    padding-bottom: 32px;
    position: relative;
}
