.main {
    background: #FFFFFF;
    border-radius: 32px;
    display: flex;
    width: fit-content;
    cursor: pointer;

    &.active {
        background: #D2E6F5;
    }

    &.small {
        padding: 12px 26px;
    }
    &.normal {
        padding: 24px 52px;
    }
}
