.main {
    display: flex;
    flex-direction: column;
    gap: 64px;

    .titleContainer {
        margin-top: 120px;
        display: flex;

        .leftPart {
            display: flex;
            flex-direction: column;
            gap: 73px;

            .text {
                display: flex;
                flex-direction: column;
                gap: 4px;

                .title {
                    font-weight: 800;
                    font-size: 48px;
                    line-height: 80px;
                    letter-spacing: 0.02em;

                    .custom {
                        color: #177DDC;
                    }
                }

                .description {
                    font-weight: 300;
                    font-size: 28px;
                    line-height: 34px;
                }
            }

            button {
                width: 413px;
                height: 106px;
                background: linear-gradient(91.56deg, #001A45 0.94%, #024275 99.2%);
                border-radius: 40px;
                font-weight: 600;
                font-size: 28px;
                line-height: 34px;
                color: #F0F2F5;
                border: none;

                cursor: pointer;

                &:hover {
                    opacity: .7;
                }
            }
        }

        .image {
            width: 550px;
        }
    }

    .statisticContainer {
        display: flex;
        flex-direction: column;
        gap: 36px;

        .boobles {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .smallBooblesContainer {
                display: flex;
                gap: 32px;

                font-weight: 600;
                font-size: 24px;
                line-height: 29px;
            }

            .normalBooblesContainer {
                display: flex;
                gap: 22px;
            }
        }

        .chartContainer {
            display: flex;
            flex-direction: column;
            gap: 22px;

            button {
                padding: 18px 20px;
                background: #FFFFFF;
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
                border-radius: 24px;
                border: none;
                width: fit-content;

                font-weight: 600;
                font-size: 20px;
                line-height: 24px;

                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    .studentProjectsContainer {
        display: flex;
        flex-direction: column;
        gap: 36px;
    }

    .partnersContainer {
        display: flex;
        flex-direction: column;
        gap: 36px;
    }

    .platform {
        display: flex;
        flex-direction: column;
        gap: 36px;
    }

    .feedbackContainer {
        display: flex;
        flex-direction: column;
        gap: 36px;
    }
}

.normalBooblesContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;

    .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
    }

    .caption {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        max-width: 180px;
        text-align: center;
    }
}